@model IList<CheckIn.Entitites.Entities.InvitationCard>

@{
    var count = 0;
    var invitationCardNumber = 0;
}

@do
{
    count++;
<div class="row">
    @for (var index = invitationCardNumber; index < invitationCardNumber + 3; index++)
    {
        if (index == Model.Count)
        {
            break;
        }
        <div>
            <div class="singleInvitation col-sm-4">
                <img class="InvitaionImage" src="@Model[index].InvitationImage.ImageSource" alt="Invitaion Card" />
                <div class="">
                    <h5 class="">@Model[index].Name</h5>
                    <p class="">@Model[index].Description</p>
                </div>
            </div>
        </div>
    }
    @{invitationCardNumber += 3; }
</div>
}while((Model.Count / 3) >= count);

<nav arialabel="Page navigation">
    <ul class="pagination">
        <li class="page-item"> <a class="page-link" id="Previous">Previous</a></li>
        @for (var i = 1; i <= (int)ViewBag.NumberOfPages; i++)
        {

            <li class="page-item"> <a class="page-link" data-value="@i">@i</a></li>

        }
        <li class="page-item"> <a class="page-link"  id ="Next">Next</a></li>
    </ul>

</nav>


<script>

    $(document).ready(function() {
        $("a").on('click',
            function() {
                if ($(this).attr('id') === 'Previous') {
                    var idPrevioues = @ViewBag.CurrentPage - 1;
                    getInvitation(idPrevioues);
                }
                else if ($(this).attr('id') === 'Next') {
                    var idNext = @ViewBag.CurrentPage + 1;
                    var lastListElement = $(this).parent().prev().children();
                        if (idNext <= lastListElement.attr('data-value')) {
                            getInvitation(idNext);
                        }
                } else {

                    getInvitation($(this).attr('data-value'));
                }    


            });

    });
    

    function getInvitation(urlId) {
        var url = "/Invitations/Paging/" + urlId + "/?filterBy=" + "@ViewBag.FilterBy";

        $.get(url,
            function(data) {
                $("#invitationContainer").html(data);
            });
    };

</script>