@model IList<CheckIn.Website.ViewModels.GuestViewModel>



@using (Html.BeginForm("Confirm", "Confirmation")) { 
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Confirm</th>
            <th>Guest Name</th>
            <th>Confirm</th>
        </tr>
        </thead>
        <tbody>
            @for (var i = 0; i < Model.Count; i++)
            {
                <tr>
                    <td>@string.Format("{0} {1}", @Model[i].FirstName, Model[i].LastName)</td>
                    <td>@Html.CheckBoxFor(x => x[i].IsConfirmedMainGuest)</td>
                    @if (Model[i].IsExtraGuest == true)
                    {
                        <td>@string.Format("{0} {1}", @Model[i].GuestFirstName, Model[i].GuestLastName)</td>
                        <td>@Html.CheckBoxFor(x => x[i].IsConfirmedExtraGuest)</td>
                    }
                </tr>
                @Html.HiddenFor(x => x[i].Id)
                @Html.HiddenFor(x=>x[i].InvitationRecordNumber)
                
            }
        </tbody>
    </table>
    <button type="submit">Confirm</button>
}